body{
    background-color: black;
}

#box{
    background-color: white;
    height: 800px;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-width:5px;
    border-radius: 15px;
}

#title{
    margin: 70px 70px 0px 70px;
    padding: 5px 3px 5px 3px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: large;
    user-select: none;
}


#valueBox{
    padding-top: 80px;
    text-align: center;
}

#valueInput{
    cursor: pointer;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 3px;
    outline: none;
    text-align: center;
    font-size: large;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
    animation: animate 3s linear infinite;
    user-select: none;
}

@keyframes animate{  
    0%{  
        opacity: 0;  
    }  
    50%{  
        opacity: 1;  
    }  
    100%{  
        opacity: 0;  
    }  

}

#valueInput::selection{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

#valueInput:valid::placeholder{
    background-color: rgb(255, 255, 255);
}

#valueInput:valid{
    width: 210px;
    background-color:rgb(248, 248, 248);
    transition: 0.5s;
    animation: none;
    user-select: all;
}

#valueInput:focus::placeholder{
    color: transparent;
}

#valueInput::-webkit-outer-spin-button, #valueInput::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

#radioBox{
    height: 50px;
    width: 650px;
    border-radius: 10px;
    margin: auto;
}

#radioButtons{
    position: absolute;
    height: 50px;
    width: 750px;
    top: 50%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 10px;
    padding-top: 13px;
    font-size: larger;
    color: rgb(3, 3, 3);
    font-family: 'Barlow Condensed', sans-serif;
    user-select: none;
}

.formulary{
    cursor: pointer;
}

label.formulary{
    padding-right: 20px;
}

#resultBox{
    margin-top: 120px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    position: absolute;
}

#result{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

#result::selection{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

input[type=radio]{
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5em;
    appearance: none;
}

input[type=radio]:checked{
    background-color: rgb(0, 0, 0);
    background-size: 9px 9px;
    transition: 0.5s;
}

input[type=radio]:focus{
    outline-color: transparent;
}

#watermark{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right:0;
    padding: 0px 10px 0px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    user-select: none;
    cursor: pointer;
    color: white;
}

#watermark:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 0.5s; 
}

#delete{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left:0;
    padding: 0px 10px 0px 10px;
    margin-right: 20px;
    margin-bottom: 18px;
    user-select: none;
    color: white;
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
}